

.form-input {
    width: 100%;
    background-color: #1a1b2e;
    color: white;
    border-radius: 10px;
    border: 1px solid #ffffff;
}

.from-input:focus {
    border: 2px solid #007bff;
}

.form-input::placeholder {
    color: #ffffff;
    opacity: 0.7;
}

